div#admin-menu-wrapper {
  // z-index: 99999999999;
  ul.dropdown {
    // z-index: 99999999999;
  }
}

// User page
body.page-user {
  section.page-content {
    @include outer-container();
    // Login form
    form#user-login {
      margin-top: $base-spacing;
      @include span-columns(10 of 12);
      @include shift(1);
      @include media($small-screen-up) {
        @include span-columns(8 of 12);
        @include shift(2);
      }
      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
      @include media($xl-screen-up) {
        @include span-columns(4 of 12);
        @include shift(4);
      }
    }
  }
}

// Page header
body.admin-menu {
  header.page-header {
    nav.tabs {
      @include span-columns(8 of 12);
      @include shift(2);
      margin-top: $small-spacing;
      margin-bottom: 0;
    }
    div.drupal-messages {
      @include span-columns(8 of 12);
      @include shift(2);
      margin-top: $small-spacing;
      margin-bottom: 0;
    }
  }
}

header.page-header {
  nav.tabs {
    @include span-columns(8 of 12);
    @include shift(2);
    margin-top: $small-spacing;
    margin-bottom: 0;
  }
  div.drupal-messages {
    @include span-columns(8 of 12);
    @include shift(2);
    margin-top: $small-spacing;
    margin-bottom: 0;
  }
}
