// section.landing-page-video {
//   div.field-video-landing-page-sse {
//     position: relative;
//   }
//   div.media {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     overflow: hidden;
//   }
//   video {
//     position: absolute;
//     width: 100%;
//     left: 0;
//     top: 0;
//   }
// }
div.video-background {
  position: relative;
  height: rem(320);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include media($xl-screen-up) {
    height: rem(480);
    background-image: none;
  }
  div.media {
    z-index: 1;
    background: rgba(0,0,0,.5);
    overflow: auto;
  }
  div.background-container {
    background: rgba(0,0,0,.5);
    display: none;
    width: 100%;
    position: absolute;
    @include media($xl-screen-up) {
      display: block;
    }
    video {
      width: 100%;
    }

  }

  div.wrapper {
    // z-index: 999;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform: translate(-50%, -50%);
    left: 50%;
    height: 100%;
    width: 100%;
    div.container {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform:translate(-50%,-50%);
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
    }
    //background: rgba(0,0,0,.5);
    //height: 100%;
  }
  h2 {
    font-size: modular-scale(2);
    margin-bottom: $small-spacing / 4;
    @include media($xl-screen-up) {
      font-size: modular-scale(4);
    }
  }
  p {
    font-size: modular-scale(1);
    @include media($xl-screen-up) {
      font-size: modular-scale(2);
    }
  }
  div.field-link-banner-sse {
    font-size: modular-scale(1);
    a {
      display: inline-block;
      background: $action-color;
      color: white;
      font-weight: 600;
      padding: ($small-spacing / 2) $base-spacing;
      border-radius: $base-border-radius;
      &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
      }
    }
  }
  // height: 400px;
  // div.overlay {}
  // div.media {
  //   position: relative;
  //   img, video {
  //     display: block;
  //   }
  //   div.background-container {
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //     overflow: hidden;
  //     video {
  //       position: absolute;
  //       width: 100%;
  //     }
  //   }
  // }
}

div.carousel-cell {
  background-size: cover;
  width: 100%;
  background-position: center center;
  color: white;
  text-align: center;
  div.overlay {
    background: rgba(44,51,58,.8);
    height: rem(320);
    position: relative;
    @include media($xl-screen-up) {
      height: rem(480);
    }
  }
  div.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  div.container {
    @include outer-container();
  }
  h2, h1 {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: modular-scale(2);
    margin-bottom: $small-spacing / 4;
    @include media($xl-screen-up) {
      font-size: modular-scale(4);
    }
  }
  p {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: modular-scale(1);
    @include media($xl-screen-up) {
      font-size: modular-scale(2);
    }
  }
  div.field-link-banner-sse {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: modular-scale(1);
    a {
      display: inline-block;
      background: $action-color;
      color: white;
      font-weight: 600;
      padding: ($small-spacing / 2) $base-spacing;
      border-radius: $base-border-radius;
      &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
      }
    }
  }
}
