html {
  background: $h-gray;
}

div.website {
  position: relative;
}

div.wgy-icon {
  position: absolute;
  top: rem(68);
  right: $small-spacing;
  background: $h-teal;
  z-index: 2;
  @include media($xl-screen-up) {
    top: 0;
  }
  // @-moz-document url-prefix() {
  //   @media screen and (max-width: 480px) {
  //     top: rem(69);
  //
  //   }
  // }
  // @media screen and (min-width: 1024px) {
  //   top: 0;
  // }
  // @media screen and (min-width: 1400px) {
  //   right: $base-spacing*2;
  // }
  a {
    background: url('../images/wgy-white.svg') no-repeat center center;
    background-size: 70%;
    text-indent: -999em;
    color: white;
    display: block;
    width: 32px;
    height: 48px;
    padding: $base-spacing*1.25 $base-spacing;
    @media screen and (min-width: 1024px) {
      width: 40px;
      height: 56px;
      padding: $base-spacing*1.75 $base-spacing*1.25;
    }
  }
}

// Body fields
section.field-body, div.submission-text, div.pre-instructions {
  p {
    font-size: modular-scale(0);
    @include media($medium-screen-up) {
      font-size: modular-scale(1);
    }
  }
  h2 {
    font-size: modular-scale(1);
    @include media($medium-screen-up) {
      font-size: modular-scale(2);
    }
  }
  h3 {
    font-size: modular-scale(1);
    font-weight: 600;
    @include media($medium-screen-up) {
      font-size: modular-scale(2);
    }
  }
  h4 {
    font-size: modular-scale(1);
    font-weight: 400;
    @include media($medium-screen-up) {
      font-size: modular-scale(2);
    }
  }
  ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
    > li {
      font-size: modular-scale(0);
      @include media($medium-screen-up) {
        font-size: modular-scale(1);
      }
    }
  }
  ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
    > li {
      font-size: modular-scale(0);
      @include media($medium-screen-up) {
        font-size: modular-scale(1);
      }
    }
  }
  blockquote {
    margin: $base-spacing 0;
    background: white;
    padding: $base-spacing $base-spacing $base-spacing $base-spacing*2;
    position: relative;
    @include media($medium-screen-up) {
      padding-top: $base-spacing*1.25;
      padding-left: $base-spacing*3.5;
    }
    &:before {
      content: "\201C"; /*Unicode for Left Double Quote*/
      font-size: modular-scale(4);
      font-weight: bold;
      position: absolute;
      top: $small-spacing / 4;
      left: $small-spacing / 3;
      color: darken($h-gray, 25%);
      @include media($medium-screen-up) {
        font-size: modular-scale(6);
        top: 0;
        left: $small-spacing / 4;
      }
    }
    &:after {
      content: "";
    }
    p {
      margin-bottom: 0;
      display: inline;
    }
  }
  div.oembed-provider-youtube {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-bottom: $base-spacing;
    iframe {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
  div.oembed-provider-twitter {
    margin-bottom: $base-spacing;
  }

  div.oembed-provider-instagram {
    margin-bottom: $base-spacing;
  }
  code {}
  img {
    height: auto;
    max-width: 100%;
    display: block;
    &.image-inline-left_sse {
      margin: $base-spacing 0;
      @include media($small-screen-up) {
        float: left;
        max-width: 50%;
        margin: ($small-spacing / 2) $base-spacing ($small-spacing / 2) 0;
      }
    }
    &.image-inline-right_sse {
      margin: $base-spacing 0;
      @include media($small-screen-up) {
        float: right;
        max-width: 50%;
        margin: ($small-spacing / 2) 0 ($small-spacing / 2) $base-spacing;
      }
    }
  }
  figure {
    display: block;
    max-width: 100%;
    height: auto;
    margin: $base-spacing 0;
    figcaption {
      display: block;
      text-align: right;
      margin-top: $small-spacing / 2;
    }
    &.image-inline-right_sse {
      margin: $base-spacing 0;
      @include media($small-screen-up) {
        float: right;
        max-width: 50%;
        margin: ($small-spacing / 2) 0 ($small-spacing / 2) $base-spacing;
      }
    }
    &.image-inline-left_sse {
      margin: $base-spacing 0;
      @include media($small-screen-up) {
        float: left;
        max-width: 50%;
        margin: ($small-spacing / 2) $base-spacing ($small-spacing / 2) 0;
      }
    }
  }
  div.accordion {}
}
