footer.site-footer {
  background: white;
  margin-top: $base-spacing;
  padding: $base-spacing 0;
  @include media($xl-screen-up) {
    padding: $base-spacing*2 0;
  }
  div.container {
    @include outer-container();
    section.social {
      @include span-columns(10 of 12);
      @include shift(1);
      h1 {
        text-align: center;
        font-size: modular-scale(1);
      }
      ul {
        text-align: center;
        margin-bottom: $base-spacing;
        li {
          display: inline-block;
          &.facebook-icon {
            background: url('../images/fb-icon.svg') no-repeat center center;
          }
          &.twitter-icon {
            background: url('../images/twitter-icon.svg') no-repeat center center;
          }
          &.instagram-icon {
            background: url('../images/instagram-icon.svg') no-repeat center center;
          }
          &.youtube-icon {
            background: url('../images/youtube-icon.svg') no-repeat center center;
          }
          a {
            display: block;
            width: rem(48);
            height: rem(48);
            text-indent: -999em;
          }
        }
      }
    }
    section.social-widgets {
      @include span-columns(10 of 12);
      @include shift(1);
      @include media($xl-screen-up) {
        @include span-columns(8 of 12);
        @include shift(2);
      }
      div.twitter-widget {
        @include media($medium-screen-up) {
          @include span-columns(5 of 10);
        }
        @include media($xl-screen-up) {
          @include span-columns(4 of 8);
        }
        &.solo {
          @include media($medium-screen-up) {
            @include span-columns(6 of 10);
            @include shift(2);
          }
        }
      }
    }
  }
}
