header.site-header {
  background: white;
  padding: $base-spacing 0;
  z-index: 2;
  //overflow: auto;
  //z-index: 99999;
  @include media($xl-screen-up) {
    position: absolute;
    top: 0;
    width: 100%;
    background: none;
    border-top: 0;
    //z-index: 99999;
  }
  div.container {
    @include outer-container();
  }
  div.brand {
    text-align: center;
    @include media($xl-screen-up) {
      text-align: left;
      @include span-columns(2 of 12);
      @include shift(1);
    }
    @include media($xxl-screen-up) {
      @include span-columns(3 of 12);
      @include shift(0);
    }
    h1 {
      margin-bottom: 0;
      text-transform: uppercase;
      a {
        color: $dark-gray;
        font-size: modular-scale(0);
        padding: 24px 0 24px 48px;
        @include media($xl-screen-up) {
          color: white;
        }
        @include media($xxl-screen-up) {
          font-size: modular-scale(1);
        }
      }
    }
  }
  div#top-menu {
    display: none;
    @include media($xl-screen-up) {
      display: block;
      @include span-columns(8 of 12);
    }
    @include media($xxl-screen-up) {
      @include span-columns(8 of 12);
    }
    @media screen and (min-width: 1400px) {
      @include span-columns(9 of 12);
    }
    ul {
      float: right;
      li {
        display: inline;
        padding-right: $small-spacing;
        &:last-child {
          padding-right: 0;
        }
        a {
          font-weight: 700;
          font-size: modular-scale(0);
          text-transform: uppercase;
          @include media($xl-screen-up) {
            color: white;
          }
          @include media($xxl-screen-up) {
            @include media($xxl-screen-up) {
              font-size: modular-scale(0);
            }
          }
        }
      }
    }
  }
}
